<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up | ALTP</title>



  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/css/signup.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

  <div class="main">


    <section class="signup">
      <div class="container">
        <div class="signup-content">
          <div class="signup-form">
            <h2 class="form-title">Sign up</h2>
            <form action="/signup" method="post" class="register-form" id="register-form">

              <div id="hihi">
                <div class="form-group">
                  <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                  <input type="text" name="username" id="name" placeholder="Your Name" />
                </div>


                <input type="hidden" name="email" id="email" placeholder="Your Email" value="<%= email %>" />


                <div class="form-group">
                  <label for="password"><i class="zmdi zmdi-lock"></i></label>
                  <input type="password" name="password" id="password" placeholder="Password" />
                </div>
                <div class="form-group">
                    <label for="password"><i class="zmdi zmdi-lock"></i></label>
                    <input type="password" name="confirm" id="confirm_password" placeholder="Confirm Password" />
                  </div>
                  <div>
                    <span class="alert " id='message'></span>
                  </div>

                <div class="form-group">
                  <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                  <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
                    statements in <a href="#" class="term-service">Terms of service</a></label>
                </div>
                <input type="submit" name="signup" id="signup" class="form-submit" value="Sign Up" />

              </div>

              <% if(hasErrors) {%>
                <div class="alert alert-danger text-center">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <% _.forEach(messages, function(error){ %>
                    <%= error %><br>
                      <% }) %>
                </div>
                <% } %>
                  <span id="message"></span>

            </form>
          </div>
          <div class="signup-image">
            <figure><img src="/images/signup-image.jpg" alt="sing up image"></figure>
            <div style="display: inline;">
              <a href="/" class="signup-image-link">You have a account? Login</a>

            </div>
          </div>
        </div>
      </div>
    </section>



  </div>

  <script>
  $(' #confirm_password').on('keyup', function () {
    if ($('#password').val() == $('#confirm_password').val()) {
        $('#message').html('').css('color', 'green');
       
    } else 
        $('#message').html('Confirm password not match').css('color', 'red');
}); 
  </script>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->

</body>

</html>