<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | ALTP</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/signup.css">
</head>

<body>

    <div class="center" >
        <form class="xx">
            <h1 class="titlee">A L T P</h1>
            <div class="form-groupp">
                <a class="continue" href="/login" role="">Continue With Email</a>
            </div>
            <div class="form-groupp">
                <a class="continue" href="/loginphone">Continue With Phone Number</a>
            </div>

  
            <!-- <div class="social-login">
                <span class="social-label">Or login with</span>
                <ul class="socials">
                    <li><a href="/auth/facebook"><i
                                class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                    <li><a href="/auth/google"><i class="display-flex-center zmdi zmdi-google"></i></a>
                    </li>
                </ul>
            </div> -->
    
        </form>
    </div>

    <!-- JS -->
        <script src="vendor/jquery/jquery.min.js"></script>

</body>

</html>